# GitHub Actions 自动构建部署脚本
name: Deploy Hugo site to Pages

on:
  # 每次推送到 main 分支时触发
  push:
    branches: ["main"]
  # 允许手动在 GitHub 页面触发
  workflow_dispatch:

# 设置权限
permissions:
  contents: read
  pages: write
  id-token: write

# 并发控制
concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  # 构建任务
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.121.1 # 指定 Hugo 版本
      HUGO_ENV: production
    steps:
      - name: Checkout 代码
        uses: actions/checkout@v4
        with:
          submodules: recursive # 必须递归下载主题

      - name: 安装 Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true # 必须使用 extended 版本

      - name: 开始构建
        run: hugo --minify

      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  # 部署任务
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4